{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>

<div id="buffer">
  <!-- BEGIN wrapper -->
  <div id="wrapper">

    <!-- BEGIN header -->
    <div id="header">
      <ul>
        <li><a href="/">Заглавная</a></li>
        <li><a href="/awards" title="Награды">Награды</a></li>
        <li><a href="/works" title="Наши работы">Наши работы</a></li>
      </ul>
      <div class="break"></div>

      <div class="logo">
        <h1><a href="/">OpenTeam</a></h1>
      </div>

      <h2><a target="_blank" href="http://www.tusur.ru/ru/informatization/subdivision/cvtir/">Центр веб-технологий и<br /> информационных ресурсов ТУСУР</a></h2>
      <div class="break"></div>
    </div>
    <!-- END header -->

      {{ content | expand_urls: root_url }}

      {% include footer.html %}
      {% include after_footer.html %}
    </div>
  </div>
</body>
</html>
