{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}

<p class="tbe"><span style="margin:0;padding:0" id="tbec"><script type="text/javascript">//<![CDATA[
    setTimeout(function(){var s=document.createElement("SCRIPT");s.type="text/javascript";s.src="http://tbe.tom.ru/?a=openteam.ru&js=1&c=6&s=8816&rnd="+(new Date().getTime());document.documentElement.firstChild.appendChild(s);},1)//]]></script></span><noscript><a href="http://tbe.tom.ru"><img src="http://tbe.tom.ru/?a=openteam.ru&amp;c=6&amp;s=8816" alt="TBE" title="place hosts/hits users_online" style="border:0" /></a></noscript></p>